@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}
    
<div class="container">
<div class="home-container">
    <h1>Redefine travel with rewards that matter</h1><br>

    <div class="home-search-bar">
        <form asp-controller="Search" asp-action="SearchResults" method="get">
        <input type="text" name="searchQuery" id="search-bar" class="search-bar" placeholder="Find your next green adventure...">
        <button id="search-btn" class="search-submit-btn" style="margin-left: 10px;">Search</button>
        <</form>
    </div>
</div>
</div>

