h1 {
    color: #ffffff;
    font-size: 60px;
    margin-right: 350px;
    margin-left: 50px;
    font-weight: bold;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 56vh;
}

body {
    background: url(/Images/Home/about-banner.jpg) no-repeat center;
    background-size: cover;
}