body {
    background: url(/Images/Home/Home-image.jpg) no-repeat center;
    background-size: cover;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    margin-right:400px;
    font-weight: bold;
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 56vh;

}


.footer {
    color: #000000;
    margin-left: 10px;
    font-weight: 600;

}