.search-results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    margin-left: 30px;
}

.search-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-left: 10px; 
}

.filters-and-results {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.filters-container {
    width: 250px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filters-container label {
    font-weight: bold;
}

.filters-container select,
.filters-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.price-container input {
    display: inline-block;
    width: 40%; 
    padding: 8px;
    margin-right: 18.8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.trip-results {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin-top: 20px;
}

.tour-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.tour-card a {
    text-decoration: none;
}

.tour-card:hover {
    transform: translateY(-5px);
}

.tour-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}



@media (max-width: 768px) {
    .trip-results {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}