@model _20232121_W2052838_PlanitGreen.Models.User
@{
    ViewData["Title"] = "Admin Dashboard";
}
@section Scripts {
    <link rel="stylesheet" href="~/css/adminDashboard.css" asp-append-version="true" />
}

<div class="dashboard-container">
        <h1 style="color:white;">Hi @Model.FirstName,</h1>
        <h1 style="color:#45CA31;">Welcome to the Admin Dashboard</h1>
</div>