<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlanitGreen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_20232121_W2052838_PlanitGreen.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header">
            <div id="logo-container" class="logo-container">
                <img id="logo" src="~/Images/Header/Logo.png" alt="PlanitGreen Logo">
            </div>

            <div id="header-bar" class="header-bar">
                <div id="header-bar-top" class="header-bar-top">
                    <a asp-controller="Achievement" asp-action="Dashboard" class="header-btn">
                        <img src="~/Images/Header/Achievement-icon.png" alt="Achievements" class="icon">My Green Achievements
                    </a>

                    <a asp-controller="Wishlist" asp-action="MyWishlist" class="header-btn">
                        <img src="~/Images/Header/Wishlist-icon.png" alt="Wishlist" class="icon">My Wishlist
                    </a>
                    
                    <a asp-controller="Booking" asp-action="MyBookings" class="header-btn">
                        <img src="~/Images/Header/Bookings-icon.png" alt="Bookings" class="icon">My Bookings
                    </a>
                    
                    @if (Context.Session.GetInt32("UserID") != null)
                    {
                        
                        <a asp-controller="Account" asp-action="Logout" method="post" class="header-btn">
                            <img src="~/Images/Header/Login-icon.png" alt="Logout" class="icon">Logout
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="header-btn">
                            <img src="~/Images/Header/Login-icon.png" alt="Login" class="icon">Login
                        </a>
                    }
                   
                </div>

                <form asp-controller="Search" asp-action="SearchResults" method="get">
                <div id="header-bar-middle" class="header-bar-middle">
                    <input type="text" name="searchQuery" id="search-bar" class="search-bar" placeholder="Find your next green adventure...">
                    <button id="search-btn" class="search-submit-btn" style="margin-left: 10px;">Search</button>
                </div>
                </form>

                <div id="header-bar-bottom" class="header-bar-bottom">
                    <a class="nav-btn" asp-controller="Home" asp-action="Index">Home</a>
                    <div class="dropdown">
                        <button id="destination-btn" class="nav-btn">Destinations</button>
                        <!-- Dropdown content will be added later -->
                    </div>
                    <div class="dropdown">
                        <button id="styles-btn" class="nav-btn">Travel Styles</button>
                        <!-- Dropdown content will be added later -->
                    </div>
                    <a class="nav-btn" asp-controller="Home" asp-action="Rewards">Eco Rewards</a>
                    <a class="nav-btn" asp-controller="Home" asp-action="About">About</a>
                </div>
            </div>
        </div>
        
    </header>


    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="border-top footer text-muted">
        <div class="footer">
            &copy; 2025 - PlanitGreen - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
